DATABASE_URL=postgres://solv_user:solv_password@127.0.0.1:5432/solv_db?sslmode=disable
PORT=3000

# Google OAuth 2.0
GOOGLE_CLIENT_ID="your_google_client_id_here"
GOOGLE_CLIENT_SECRET="your_google_client_secret_here"
GOOGLE_REDIRECT_URL="https://solv.dedyn.io/auth/google/callback"

# Seguridad Interna
JWT_SECRET=your_jwt_secret_key_here

# Control de Admisión de Hardware (Calculado por cmd/autotune en Asus)
OOM_GUARD_MB=1408

# Configuración desec.io ACME TLS Wildcard
DESEC_TOKEN=your_desec_api_token_here
DESEC_DOMAIN=solv.dedyn.io
COOKIE_DOMAIN=.solv.dedyn.io
ACME_EMAIL=your_email_here@example.com